# https://github.com/github/gitignore

__pycache__/
miktex/texmfs/data/miktex/data/le/pdftex/
miktex/texmfs/data/miktex/log/
Thumbs.db

nvm/v16.18.0/
nvm/v18.11.0/
nvm_cmd_v16.18.0.bat

# Local files
#.gitignore
git_push_loop.bat
decompose.bat
fSplit.exe

# Too large files
#node.exe
chrome.dll
interactive_ui_tests.exe
#electron.exe
pandoc.exe
